@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");
html,
body {
  overflow-x: hidden !important;
  width: 100%;
}

body {
  font-family: 'Barlow', sans-serif !important;
  font-size: 16px;
}

a {
  text-decoration: none !important;
  color: #333333 !important;
}

a:hover {
  text-decoration: none !important;
  color: #333333 !important;
}

img {
  border-radius: 2px !important;
}

.category {
  color: #ea650f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
}

.navbar-expand {
  height: 72px;
  background-color: #612222;
}

@media only screen and (max-width: 1024px) {
  .navbar-expand .nav-link {
    padding: 10px !important;
  }
}

.banner {
  background-image: url("../img/Group 1.png") !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* Set up proportionate scaling */
  height: 700px;
}

.banner .banner-title {
  color: #333333;
  font-weight: 600;
  font-size: 52px !important;
  line-height: 50px;
  margin-top: 300px;
}

.banner .see-more {
  border-radius: 2px;
  background-color: #fff;
  padding: 8px;
  font-weight: bold;
  margin-top: 30px;
}

.banner .see-more .see-more-padding {
  padding-left: 8px;
  padding-right: 8px;
}

.banner .see-more .see-more-block {
  height: 48px;
  line-height: 48px;
  border-radius: 2px;
  background-color: #f2f2f2;
}

.banner .see-more .see-more-block div svg {
  color: #ea650f;
  font-size: 22px;
}

.banner .see-more .see-more-button button {
  height: 48px;
  color: #fff;
  background-color: #ea650f;
}

.banner .see-more .see-more-button button:hover {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .banner {
    height: 500px;
  }
  .banner .banner-title {
    margin-top: 140px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  .banner .see-more .see-more-button {
    margin: auto 0;
    margin-top: 5px;
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .banner {
    height: 260px;
  }
  .banner .banner-title {
    line-height: 24px;
    font-size: 24px !important;
    margin-top: 250px;
  }
  .banner .see-more .see-more-button {
    margin: auto 0;
    margin-top: 5px;
    padding: 0;
  }
}

.hoi-chuyen-gia {
  margin-top: 20px;
}

.hoi-chuyen-gia .card-title {
  font-size: 19px;
  color: #333333;
  line-height: 23px;
  font-weight: bold;
  margin-top: 16px;
}

.hoi-chuyen-gia .card-text {
  line-height: 24px;
  margin-bottom: 1rem !important;
}

.hoi-chuyen-gia .border-rotate {
  border: hidden solid hidden hidden;
  border: 1px solid #aaa;
}

.hoi-chuyen-gia .tin-tuc {
  font-size: 15px !important;
}

.hoi-chuyen-gia .tin-tuc .xem-them {
  color: #ea650f;
}

.hoi-chuyen-gia .tin-tuc img {
  width: 100%;
}

.hoi-chuyen-gia .tin-tuc .tintuc-title {
  padding: 5px 0 0 0;
}

@media only screen and (max-width: 768px) {
  .tintuc-title {
    font-size: 20px !important;
    padding: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .hoi-chuyen-gia-mobile {
    margin-top: 250px;
  }
  .hoi-chuyen-gia-mobile .tintuc-title {
    margin-top: 10px;
    font-size: 18px !important;
  }
  .hoi-chuyen-gia-mobile .tintuc-img {
    height: 200px !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
  .hoi-chuyen-gia-mobile .tintuc-img img {
    height: 200px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .tintuc-title {
    padding: 15px !important;
  }
}

@media only screen and (max-width: 992px) {
  .border-line {
    display: none;
  }
}

.cam-nang {
  margin-top: 40px;
}

.cam-nang .card-title {
  font-size: 19px;
  color: #333333;
  line-height: 23px;
  font-weight: bold;
  margin-top: 16px;
}

.cam-nang .card-text {
  line-height: 24px;
  margin-bottom: 1rem !important;
}

.chia-se {
  margin-top: 40px;
}

.chia-se .card-img-top {
  position: relative;
}

.chia-se .icon-play {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 110px;
  top: 55px;
}

.chia-se .card-title {
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  margin-top: 16px;
}

.chia-se .card-text {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 1rem !important;
}

.chia-se .icon-clock {
  color: #E0E0E0 !important;
}

@media only screen and (max-width: 768px) {
  .chia-se .icon-play {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 155px;
    top: 78px;
  }
}

@media only screen and (max-width: 480px) {
  .chia-se .icon-play {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 170px;
    top: 85px;
  }
}

footer {
  background-color: #e5e5e5;
  margin-top: 100px;
  margin-bottom: 0;
  height: auto;
  padding: 50px 0;
}

footer .social-media a {
  font-size: 25px;
  color: #828282 !important;
}

footer h5 {
  font-weight: bold;
  font-size: 13px !important;
  line-height: 19px !important;
}

footer p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 10px !important;
}

footer .copyright {
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}

footer .icon-contact {
  font-size: 25px;
  color: #ea650f;
}
/*# sourceMappingURL=style.css.map */