@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");
body {
  font-family: 'Barlow', sans-serif !important;
  font-size: 16px;
}

.navbar-expand {
  height: 72px;
  background-color: #612222;
}

@media only screen and (max-width: 1024px) {
  .navbar-expand .nav-link {
    padding: 10px !important;
  }
}

.banner {
  display: block;
}

a {
  text-decoration: none !important;
  color: #333333 !important;
}

a:hover {
  text-decoration: none !important;
  color: #333333 !important;
}

img {
  border-radius: 2px !important;
}

.category {
  color: #ea650f;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
}

.hoi-chuyen-gia {
  margin-top: 20px;
}

.hoi-chuyen-gia .card-title {
  font-size: 19px;
  color: #333333;
  line-height: 23px;
  font-weight: bold;
  margin-top: 16px;
}

.hoi-chuyen-gia .card-text {
  line-height: 24px;
  margin-bottom: 1rem !important;
}

.hoi-chuyen-gia .border-rotate {
  border: hidden solid hidden hidden;
  border: 1px solid #aaa;
}

.hoi-chuyen-gia .tin-tuc .xem-them {
  color: #ea650f;
}

.hoi-chuyen-gia .tin-tuc img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .tintuc-title {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 480px) {
  .tintuc-title {
    font-size: 18px !important;
    padding: auto 15px !important;
  }
  .tintuc-img {
    height: 200px !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
  .tintuc-img img {
    height: 200px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (max-width: 992px) {
  .border-line {
    display: none;
  }
}

.cam-nang {
  margin-top: 40px;
}

.cam-nang .card-title {
  font-size: 19px;
  color: #333333;
  line-height: 23px;
  font-weight: bold;
  margin-top: 16px;
}

.cam-nang .card-text {
  line-height: 24px;
  margin-bottom: 1rem !important;
}

.chia-se {
  margin-top: 40px;
}

.chia-se .card-img-top {
  position: relative;
}

.chia-se .icon-play {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 110px;
  top: 55px;
}

.chia-se .card-title {
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  margin-top: 16px;
}

.chia-se .card-text {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 1rem !important;
}

.chia-se .icon-clock {
  color: #E0E0E0 !important;
}

footer {
  background-color: #e5e5e5;
  margin-top: 100px;
  margin-bottom: 0;
  height: auto;
  padding: 50px 0;
}

footer .logo-footer {
  width: 130px;
  height: auto;
}

footer .social-media a {
  font-size: 25px;
  color: #828282 !important;
}

footer h5 {
  font-weight: bold;
  font-size: 13px !important;
  line-height: 19px !important;
}

footer p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 10px !important;
}

footer .copyright {
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}

footer .icon-contact {
  font-size: 25px;
  color: #ea650f;
}
/*# sourceMappingURL=style.css.map */