$mainColor: #ea650f;
$textGray: #333333;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Barlow', sans-serif !important;
    font-size: 16px;
}

.navbar-expand {
    height: 72px;
    background-color: rgb(97, 34, 34);

}


@media only screen and(max-width: 1024px) {
    .navbar-expand {
        .nav-link {
            padding: 10px !important;
        }
    }
}

// banner
.banner {

    background-image: url("../img/Group 1.png") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Set up proportionate scaling */
    width: 100% !important;
    height: 620px;

    .banner-title {
        color: $textGray;
        font-weight: 600;
        font-size: 56px !important;
    }

    .see-more {
        width: 668px;
        height: 65px;
        background-color: #fff;
        padding: 8.5px 8px 8px 8.5px;

        .block-time {
            width: 476px;
            height: 48px;
            background-color: #f2f2f2;
            border-radius: 2px;

            div {
                line-height: 48px;

                svg {
                    color: $mainColor;
                    font-size: 20px;
                }
            }
        }

        .button-seemore {
            width: 168px;
            height: 48px;
            background-color: $mainColor;
            color: #fff;

            &:hover {
                color: #fff !important;
            }
        }
    }
}


// default
a {
    text-decoration: none !important;
    color: $textGray !important;

    &:hover {
        text-decoration: none !important;
        color: $textGray !important;
    }
}

img {
    border-radius: 2px !important;
}

.category {
    color: $mainColor;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
}

.hoi-chuyen-gia {
    margin-top: 20px;

    .card-title {
        font-size: 19px;
        color: $textGray;
        line-height: 23px;
        font-weight: bold;
        margin-top: 16px;
    }

    .card-text {
        line-height: 24px;
        margin-bottom: 1rem !important;
    }

    .border-rotate {
        border: hidden solid hidden hidden;
        border: 1px solid #aaa;
    }

    .tin-tuc {
        .xem-them {
            color: $mainColor;
        }

        img {
            width: 100%;
        }

        .tin-tuc {
            font-size: 15px !important;
        }
    }
}

@media only screen and(max-width:768px) {
    .tintuc-title {
        font-size: 20px !important;
    }
}

@media only screen and(max-width:480px) {
    .tintuc-title {
        margin-top: 10px;
        font-size: 18px !important;
        padding: auto 15px !important;
    }

    .tintuc-img {
        height: 200px !important;
        object-fit: cover !important;

        img {
            height: 200px !important;
            object-fit: cover;
        }
    }
}

@media only screen and(max-width:992px) {
    .border-line {
        display: none;
    }
}

.cam-nang {
    margin-top: 40px;

    .card-title {
        font-size: 19px;
        color: $textGray;
        line-height: 23px;
        font-weight: bold;
        margin-top: 16px;
    }

    .card-text {
        line-height: 24px;
        margin-bottom: 1rem !important;

    }
}

.chia-se {
    margin-top: 40px;

    .card-img-top {
        position: relative;
    }

    .icon-play {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 110px;
        top: 55px;
    }

    .card-title {
        color: $textGray;
        font-size: 18px;
        line-height: 23px;
        font-weight: bold;
        margin-top: 16px;
    }

    .card-text {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 1rem !important;

    }

    .icon-clock {
        color: #E0E0E0 !important;
    }
}

footer {
    background-color: #e5e5e5;
    margin-top: 100px;
    margin-bottom: 0;
    height: auto;
    padding: 50px 0;


    .logo-footer {
        width: 130px;
        height: auto;
    }

    .social-media {
        a {
            font-size: 25px;
            color: #828282 !important;
        }
    }

    h5 {
        font-weight: bold;
        font-size: 13px !important;
        line-height: 19px !important;
    }

    p {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 10px !important;
    }

    .copyright {
        font-size: 13px;
        line-height: 19px;
        color: #000000;
    }

    .icon-contact {
        font-size: 25px;
        color: $mainColor;
    }
}