$mainColor: #ea650f;
$textGray: #333333;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Barlow', sans-serif !important;
    position: relative;
    font-size: 16px;
}

.navbar-expand {
    height: 72px;
    background-color: #fff;

    .logo {
        height: 30px;
    }



}

@media only screen and(max-width: 400px) {
    .navbar-expand {
        height: 50px !important;
    }
}

@media only screen and(max-width: 1024px) {
    .navbar-expand {
        .nav-link {
            padding: 10px !important;
        }
    }
}

.banner {
    display: flex;
    position: relative;

    .banner-title {
        width: 568px;
        height: 135px;
        /* Display/Desktop */

        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 67px;

        display: flex;
        align-items: center !important;
        letter-spacing: -1.2px;
    }



    .pharmacy {
        display: flex;
        position: absolute !important;
        right: 140px !important;
        top: 560px !important;
    }

}

// default
a {
    text-decoration: none !important;
    color: $textGray !important;

    &:hover {
        text-decoration: none !important;
        color: $textGray !important;
    }
}

img {
    border-radius: 2px !important;
}

.category {
    color: $mainColor;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
}

.hoi-chuyen-gia {
    margin-top: 60px;

    .card-title {
        font-size: 19px;
        color: $textGray;
        line-height: 23px;
        font-weight: bold;
        margin-top: 16px;
    }

    .card-text {
        line-height: 24px;
    }

    .border-rotate {
        border: hidden solid hidden hidden;
        border: 1px solid #aaa;
    }

    .tin-tuc {
        .xem-them {
            color: $mainColor;
        }
    }

}

@media only screen and(max-width:992px) {
    .border-line {
        display: none;
    }
}

.cam-nang {
    margin-top: 60px;

    .card-title {
        font-size: 19px;
        color: $textGray;
        line-height: 23px;
        font-weight: bold;
        margin-top: 16px;
    }

    .card-text {
        line-height: 24px;
    }
}

.chia-se {
    margin-top: 60px;

    .card-img-top {
        position: relative;
    }

    .icon-play {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 110px;
        top: 55px;
    }

    .card-title {
        color: $textGray;
        font-size: 18px;
        line-height: 23px;
        font-weight: bold;
        margin-top: 16px;
    }

    .card-text {
        font-size: 13px;
        line-height: 19px;
    }

    .icon-clock {
        color: #E0E0E0 !important;
    }
}

footer {
    background-color: #e5e5e5;
    margin-top: 100px;
    margin-bottom: 0;
    height: auto;
    padding: 50px 0;


    .logo-footer {
        width: 130px;
        height: auto;
    }

    .social-media {
        a {
            font-size: 25px;
            color: #828282 !important;
        }
    }

    h5 {
        font-weight: bold;
        font-size: 13px !important;
        line-height: 19px !important;
    }

    p {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 10px !important;
    }

    .copyright {
        font-size: 13px;
        line-height: 19px;
        color: #000000;
    }

    .icon-contact {
        font-size: 25px;
        color: $mainColor;
    }
}

@media only screen and(max-width:768px) {}